<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{usr/common/layout}">
<head>
  <title>Ken [[${ken.id}]]</title>
</head>

<main layout:fragment="main">
  <div class="container min-h-full mx-auto px-[8px] py-10">
    <h1 class="font-bold text-4xl">[(${ken.title})]</h1>
    <div class="toast-ui-viewer mt-4">
      <script type="text/x-template">
        [(${ken.source})]
      </script>
    </div>
  </div>
  </form>
</main>
</html>