<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{usr/common/layout}">
<head>
  <title>Ken 수정</title>
</head>

<main layout:fragment="main">
  <script>
    let KenModify__submitDone = false;
    function KenModify__submit(form) {
      if ( KenModify__submitDone ) {
        return;
      }

      form.title.value = form.title.value.trim();

      if ( form.title.value.length == 0 ) {
        alert('제목을 입력해주세요.');
        form.title.focus();
        return;
      }

      const bodyEditor = $(form).find('.toast-ui-editor--body').data('data-toast-editor');

      const source = bodyEditor.getMarkdown().trim();
      const result = bodyEditor.getHTML().trim();

      if ( source.length == 0 ) {
        bodyEditor.focus();
        alert('내용을 입력해주세요.');
        return;
      }

      KenModify__submitDone = true;

      form.source.value = source;
      form.result.value = result;

      form.submit();
    }
  </script>
  <form action="../../ken/doModify" method="POST" onsubmit="KenModify__submit(this); return false;">
    <input type="hidden" name="id" th:value="${ken.id}">
    <input type="hidden" name="source">
    <input type="hidden" name="result">
    <div>
      <input type="text" name="title" th:value="${ken.title}" placeholder="제목">
    </div>
    <div>
      <div class="toast-ui-editor toast-ui-editor--body">
        <script type="text/x-template">
[(${ken.source})]
        </script>
      </div>
    </div>
    <div>
      <button type="submit">저장</button>
    </div>
  </form>
</main>
</html>