<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{usr/common/layout}">
<head>
  <title>Ken 생성</title>
</head>

<main layout:fragment="main">
  <script>
    let KenWrite__submitDone = false;
    function KenWrite__submit(form) {
      if ( KenWrite__submitDone ) {
        return;
      }

      form.title.value = form.title.value.trim();

      if ( form.title.value.length == 0 ) {
        alert('제목을 입력해주세요.');
        form.title.focus();
        return;
      }

      const bodyEditor = $(form).find('.toast-ui-editor--body').data('data-toast-editor');

      const source = bodyEditor.getMarkdown().trim();
      const result = bodyEditor.getHTML().trim();

      if ( source.length == 0 ) {
        bodyEditor.focus();
        alert('내용을 입력해주세요.');
        return;
      }

      KenWrite__submitDone = true;

      form.source.value = source;
      form.result.value = result;

      form.submit();
    }
  </script>
  <style>
    html .toastui-editor-contents,
    html .ProseMirror {
      font-size:19px;
    }
  </style>
  <form action="../ken/doWrite" method="POST" onsubmit="KenWrite__submit(this); return false;" class="h-full flex flex-col">
    <input type="hidden" name="source">
    <input type="hidden" name="result">
    <div class="flex-grow">
      <div class="toast-ui-editor toast-ui-editor--body h-full" data-toast-editor-height="100%;" data-toast-editor-placeholder="note ..">
      </div>
    </div>
  </form>
</main>
</html>