<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{usr/common/layout}">
<head>
    <title>리스트</title>
</head>

<main layout:fragment="main">
    <th:block th:if="${rq.logined}">
        [[${rq.loginedMember}]]
    </th:block>
    <th:block th:unless="${rq.logined}">
        로그인 안됨
    </th:block>

    <div th:each="article : ${articles}" th:object="${article}">
        <div th:text="*{id}"></div>
        <div th:text="*{regDate}"></div>
        <div th:text="*{updateDate}"></div>
        <div th:text="*{title}"></div>
        <hr>
    </div>
</main>
</html>