.site-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-wrap > * {
  flex-shrink: 0;
}

.site-wrap > main {
  flex-grow: 1;
}

.site-wrap > header,
.site-wrap > footer {
  background-color:#afafaf;
}