@charset "utf-8";

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html > body,
html > body .toastui-editor-contents,
html > body .ProseMirror,
html > body .toastui-editor-md-code,
html > body .toastui-editor-md-code-block
{
  font-family: 'GmarketSansMedium', sans-serif;
  text-underline-position: under;
}

.toastui-editor-contents dir,
.toastui-editor-contents menu,
.toastui-editor-contents ol,
.toastui-editor-contents ul {
  margin-top:12px;
}

html.mydark .btn.btn-link {
  color:white;
  text-decoration:underline;
}

html .table tfoot td:first-child,
html .table tfoot th:first-child,
html .table thead td:first-child,
html .table thead th:first-child {
  border-bottom-left-radius: 0;
}

html .table tfoot td:last-child,
html .table tfoot th:last-child,
html .table thead td:last-child,
html .table thead th:last-child {
  border-bottom-right-radius: 0;
}