@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html > body {
  font-family: 'Noto Sans KR', sans-serif;
}
