@charset "utf-8";

/* 토스트 UI, 유튜브 플러그인에서 사용하는 CSS 시작 */
.ratio-16\/9::after {
  content:"";
  display:block;
  padding-top:calc(100% / 16 * 9);
}

.ratio-9\/16::after {
  content:"";
  display:block;
  padding-top:calc(100% / 9 * 16);
}

html .toastui-editor-contents,
html .ProseMirror {
  font-size:15px;
}

html .toastui-editor-contents>div>div:first-of-type h1,
html .toastui-editor-contents>h1:first-of-type,
html .toastui-editor-contents>div>div:first-of-type h2,
html .toastui-editor-contents>h2:first-of-type{
  margin-top:0;
}

.toast-ui-viewer {
  padding-top:10px;
}
/* 토스트 UI, 유튜브 플러그인에서 사용하는 CSS 끝 */