<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{usr/common/layout}">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>

    <title>로그인</title>
</head>

<main layout:fragment="main">
    <section class="section section-login flex-grow flex items-center justify-center">

        <div class="flex-grow max-w-md px-2">
            <h1 class="font-bold text-lg">Sign in</h1>

            <script>
                let MemberLogin__submitDone = false;
                function MemberLogin__submit(form) {
                    if ( MemberLogin__submitDone ) {
                        return;
                    }

                    form.loginId.value = form.loginId.value.trim();

                    if ( form.loginId.value.length == 0 ) {
                        alert('로그인아이디를 입력해주세요.');
                        form.loginId.focus();

                        return;
                    }

                    form.loginPwInput.value = form.loginPwInput.value.trim();

                    if ( form.loginPwInput.value.length == 0 ) {
                        alert('로그인비밀번호를 입력해주세요.');
                        form.loginPwInput.focus();

                        return;
                    }

                    form.loginPw.value = sha256(form.loginPwInput.value);
		            form.loginPwInput.value = '';

		            alert(form.loginPw.value);

		            form.submit();
		            MemberLogin__submitDone = true;
                }
            </script>

            <form action="/member/doLogin" method="POST" class="flex flex-col" onsubmit="MemberLogin__submit(this); return false;">
                <input type="hidden" name="loginPw">
                <input type="hidden" name="replaceUri" th:value="${param.afterLoginUri}">

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Username</span>
                    </label>
                    <input type="text" name="loginId" placeholder="Username" class="input input-bordered" maxlength="20">
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Password</span>
                    </label>
                    <input type="password" name="loginPwInput" placeholder="Password" class="input input-bordered" maxlength="20">
                </div>

                <div class="btns mt-3 flex justify-center px-1">
                    <input class="btn btn-primary w-1/2" type="submit" value="SIGN IN">
                    <div class="w-2 flex-shrink-0"></div>
                    <a class="btn  btn-secondary btn-outline w-1/2">SIGN UP</a>
                </div>

                <div class="btns mt-3 flex justify-center">
                    <a class="btn btn-link">FORGOT PASSWORD?</a>
                </div>
            </form>
        </div>
    </section>
</main>

</html>